<%- include('partials/_header') -%>
    <div class="container">
        <div class="row">
            <!-- Gallery -->
            <div class="row">
                <div class="col my-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum temporibus non nisi qui eum facilis sapiente iste, explicabo, at voluptatem earum tenetur, fugiat officiis fuga nihil quaerat numquam a voluptate quos veritatis ea aperiam nesciunt in. Deserunt nobis fugit ex voluptates delectus incidunt amet. Nam veritatis assumenda ratione reiciendis, atque veniam nihil distinctio, ab maxime facere ducimus. Fuga eius blanditiis ad, repellat excepturi odio mollitia possimus, est facilis rem quaerat debitis officiis tenetur magni at aperiam consequuntur distinctio, in dicta ratione exercitationem! Ducimus dolores ratione labore quod distinctio quisquam aliquam, neque, obcaecati inventore esse exercitationem consectetur doloribus, et accusantium nobis officiis voluptates qui deleniti excepturi quasi! Rem est dicta omnis quia dolore nihil recusandae cupiditate? Quasi fugit, tempora suscipit neque itaque deleniti. Id dignissimos fugiat nobis molestias ratione aliquid ad nesciunt in suscipit sed nulla, quia aliquam cum vero doloribus repudiandae vitae velit, facere molestiae itaque. Temporibus corporis et dicta nisi. Cupiditate suscipit voluptatibus odit iste, excepturi magnam dignissimos aliquam quo blanditiis quae possimus quia, tempore doloribus ab cum pariatur, debitis maxime cumque nihil sed. Laborum dolorem aspernatur repellat commodi explicabo expedita est modi fugiat reiciendis quia placeat, laboriosam minima, eos inventore culpa tenetur! Dolores possimus aspernatur beatae laudantium in.</p>
                </div>


        </div>
    </div>
    <%- include('partials/_footer') -%>
